{
    "presets": ["@babel/preset-env"],"plugins": ["@babel/plugin-proposal-class-properties","@babel/plugin-proposal-private-property-in-object"],"assumptions": {
      "privateFieldsAsProperties": true,
      "setPublicClassFields": true
    }
  }